<div class="flex justify-center mt-11">
    <div class="h-10 w-28 bg-white rounded-lg cursor-pointer hover:scale-105">
        <a href="" class="text-xs flex justify-center items-center h-9 text-background font-bold">Download the App</a>
    </div>
</div>
<div>
    <img src="">
</div>
<div class="flex justify-center mt-9">
    <span>Follow us on Social Media</span>
</div>
<div class="flex justify-evenly">
    <div class="">
        <a href="https://www.instagram.com/">
            <img src="SocialNetwork/instagram.webp" width="50" height="50">
        </a>
    </div>
    <div class="">
        <a href="https://x.com/?lang=en&mx=2">
            <img src="SocialNetwork/x.webp" width="50" height="50">
        </a>
    </div>
    <div class="">
        <a href="https://www.tiktok.com/en/"> <img src="SocialNetwork/tiktok.webp" width="50" height="50"> </a>
    </div>
</div>