<div>
    <span class="text-3xl ml-20">Top News</span>
</div>
<div class="flex justify-evenly mt-6">
    <div>
    <img src="News/D'O Brian.webp" width="300" height="300" class="cursor-pointer hover:scale-90">
    <span></span>
</div>
<div>
    <img src="News/demi.png" width="300" height="250" class="cursor-pointer hover:scale-90">
</div>
<div>
    <img src="News/sethBaker.webp" width="300" height="300" class="cursor-pointer hover:scale-90">
</div>
<div>
    <img src="News/transformes.webp" width="300" height="300" class="cursor-pointer hover:scale-90">
</div>
</div>