<div class="Home text-5xl ml-8">HOME</div>
<div class="text-xl mt-5 ml-8">What's new in FlixerMOB?</div>
<div class="image flex justify-evenly mt-6">
    <button class="hover:scale-90 animate-pulse" onclick="">
        <img src="backButton.png" width="50" height="50">
    </button>
    <div class="hover:scale-95 ">
        <a href="">
            <img src="batman.jpeg" alt="Batman" width="300" height="200">
        </a>
    </div>
    <div class="hover:scale-95 ">
        <a href="">
            <img src="venom.jpg" alt="Venom" width="300" height="200">
        </a>
    </div>
    <div class="hover:scale-95 ">
        <a href=""><img src="GOG.webp" alt="Madame" width="300" height="200"></a>
    </div>
    <div class="button mt-60">
        <button>
            <img src="buttonii.webp" class="hover:scale-75 animate-pulse" height="50" width="50">
        </button>
    </div>
</div>
<div class="mt-24">
    <span class="text-3xl ml-20">Recommended from us</span>
</div>
<div class=" flex justify-evenly mt-10">
    <button class="hover:scale-90 animate-pulse" onclick="">
        <img src="backButton.png" width="50" height="50">
    </button>
        <div class="hover:scale-95">
            <a href="">
                <img src="shang-chi.jpeg" alt="shang-chi" width="300" height="300">
            </a>
        </div>
        <div class="hover:scale-95">
           <a href="">
            <img src="rebelRidge.jpeg" alt="Rebel Ridge" width="300" height="300">
           </a>
        </div>
        <div class="hover:scale-95">
            <a href="">
                <img src="emilyInParis.jpg" alt="EmilyInParis" width="300" height="300">
            </a>
        </div>
        <button>
            <img src="buttonii.webp" class="hover:scale-75 animate-pulse" height="50" width="50">
        </button>
</div>
<div class="mt-10">
    <span class="text-3xl ml-20">Most popular celebrites</span>
    <div class="images flex justify-evenly mt-10">
        <button class="hover:scale-90 animate-pulse" onclick="">
            <img src="backButton.png" width="50" height="50">
        </button>
        <div>
            <img src="Actors/scarlett.webp" class="rounded-l-full rounded-r-full" width="150" height="150">
            <span>Scarlett Johansson</span> 
        </div>
        <div>
            <img src="Actors/chrisEvans.jpg" class="rounded-l-full rounded-r-full" width="150" height="150">
            <span class="ml-8">Chris Evans</span> 
        </div>
        <div>
            <img src="Actors/haile.jpg" class="rounded-l-full rounded-r-full" width="150" height="150">
            <span class="ml-5">Hailee Streinfeld</span> 
        </div>
        <div>
            <img src="Actors/lili.jpg" class="rounded-l-full rounded-r-full" width="150" height="150">
            <span class="ml-10">Lili Reinhart</span> 
        </div>
        <div>
            <img src="Actors/liliColins.webp" class="rounded-l-full rounded-r-full" width="150" height="150">
            <span class="ml-8">Lily Collins</span> 
        </div>
        <div>
            <img src="Actors/zendaya.webp" class="rounded-l-full rounded-r-full hover:" width="150" height="150">
            <span class="ml-10">Zendaya</span> 
        </div>
        <button>
            <img src="buttonii.webp" class="hover:scale-75 animate-pulse" height="50" width="50">
        </button>
    </div>
</div>
<div class="">
    <span class="text-3xl ml-20">Popular interests</span>
</div>
<div class="flex justify-evenly mt-6">
    <button class="hover:scale-90 animate-pulse" onclick="">
        <a href="">
            <img src="backButton.png" width="50" height="50">
        </a>
    </button>
    <div class="hover:scale-90">
        <a href=""><img src="Geners/thriller.jpg" width="200" height="100"></a>
        <span>Thriller</span>
    </div>
    <div class="hover:scale-90">
        <a href=""><img src="Geners/cartoons.jpg" width="200" height="100"></a>
        <span>Cartoons</span>
    </div>
    <div class="hover:scale-90">
        <a href=""><img src="Geners/comingAge.webp" width="200" height="100"></a>
        <span>Coming Age</span>
    </div>
    <div class="hover:scale-90">
        <a href=""><img src="Geners/family.webp" width="200" height="100"></a>
        <span>Family</span>
    </div>
    <button>
        <img src="buttonii.webp" class="hover:scale-75 animate-pulse" height="50" width="50">
        <a href="/ChangeImage"></a>
    </button>
</div>
<app-news></app-news>
<app-contact></app-contact>